body{
    background-color: #8a1935;
}

.card1{
    background-color: #3c0c18;
}
.card2{
    background-color: #3c0c18;
}
.card3{
    background-color: #3c0c18;
}

.card-body{
    background-color: black;
}